<div class="fix-width">
  <%= form_for :session do |f| %>
    <%= f.label :email %><br>
    <%= f.text_field :email, class: "full-width form-control input", placeholder: 'Email'%><br>

    <%= f.label :password %>
    <%= f.password_field :password, class: "full-width form-control input", placeholder: 'Password' %><br>
    <%= f.submit 'Login', :class => "btn btn-info full-width C input"  %>
  <% end %>
    <p><%= link_to "Back", "/", class: "back" %> </p>
</div>
