<div class="fix-width">
  <%= form_for :session do |f| %>
    <%= f.label :email %><br>
    <%= f.text_field :email, class: "full-width form-control input W", id: "validationServer01", placeholder: 'Email'%>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password, class: "full-width form-control input W", id: "validationDefault02", placeholder: 'Password' %>
    <br>
    <div class="error">
      <% if @errors %>
        <%= render 'partials/errors' %>
      <% end %>
    </div>
    <%= f.submit 'Login', :class => "btn btn-info full-width C input"  %>
  <% end %>
    <br>
    <p><%= link_to "Go back", "/", class: "back" %> </p>
</div>
