<h1>New Conversation</h1>

<%= form_for @sentence do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.text_area :content %>
  <%= f.submit 'Submit' %>
<% end %>



<%= link_to 'Back', conversations_path %>

<!-- #where all the magic happens -->
<% if @final_response %>
  <%= @final_response %>
<% end %>


