<div class="form-group main-conv">
  <h1>Start a conversation!</h1>

  <%= form_for @sentence, url: {action: 'create', controller: 'conversations', method: 'POST'}  do |f| %>
    <%= f.text_area :content, class: "form-control"%>
    <%= f.submit 'Submit', class: "form_submit_button btn btn-info full-width" %>
  <% end %>


   <%= link_to 'refresh!', '/conversations/main',  class: "btn btn-success C input" %>

  <!-- #where all the magic happens -->
  <% if @final_response %>
    <%= @final_response %>
  <% end %>



</div>
