<h1>New Conversation</h1>

<%= form_for @sentence, url: {action: 'create', controller: 'conversations', method: 'POST'}  do |f| %>
  <%= f.text_area :content %>
  <%= f.submit 'Submit' %>
<% end %>



<%= link_to 'Back', conversations_path %>

<!-- #where all the magic happens -->
<% if @final_response %>
  <%= @final_response %>
<% end %>


