<div id="main-conv" class="form-group main-conv">
  <h1 id="start-conv">Start a conversation!</h1>
   <div class="">
    <ul class="dialog-ul TA" id="output-form">
      <% @conversation.sentences.each do |sentence| %>

        <li class="t-left"><span class="li-item"><span class="dialog you">you said: </span><br> <div class="u-input"> <%= sentence.content %></div></span></li>

        <li class="t-right"><span class="dialog"></span><abbr title="press to play"><input class="dialog" onclick='responsiveVoice.speak("<%= sentence.response %>");' type='button' value='response: 🔊' /></abbr><br><div class="w-input"> <%= sentence.response %></div></li>
      <% end %>
    </ul>
  </div>
<div>
   <%= link_to 'Refresh This Conversation!', '/conversations/main',  class: "btn btn-success C input conv-buttons A" %>
   <%= link_to 'Start a New Conversation!', reset_conversation_path, class: "btn btn-success C input conv-buttons A" %>
</div>
<div class="three-buttons">
    <%= form_for @sentence, url: {action: 'create', controller: 'conversations', method: 'POST'}, html: { id: "input-form" }, remote: true  do |f| %>
  <div id="In-form">
      <%= f.text_area :content, class: "form-control C", id: "input-textbox" %>
  </div>
      <%= f.submit 'Send', class: "form_submit_button btn btn-info full-width conv-buttons" %>
    <% end %>
  <button id="start", class="form_submit_button btn btn-info full-width conv-buttons">Record</button>
  <button id="stop", class="form_submit_button btn btn-info full-width conv-buttons">Stop</button>
</div>

