<nav class="navbarr ">
  <div class="container-fluid">
<div id="name">Conversation Partner</div>

<!--     <div class="">
 -->      <span class="nav-open" style="">&#9776;</span>
<!--     </div>
 -->    <div id="navbar" class="sidenav">
      <a href="javascript:void(0)" class="nav-close">&times;</a>
    <% if current_user %>
       <p id="hello"> Hello, <%= current_user.username %>!</p>
       <%= link_to "Profile", "/users/#{current_user.id}" %>
       <%= link_to 'New Conversation!', reset_conversation_path %>
       <%= link_to 'Daily word', "/daily_word" %>
       <%= link_to 'Read about us!', '/about' %>

       <%= link_to "Logout", '/logout' %>
    <% else %>
      <%= link_to 'Main', '/' %>
      <%= link_to 'Login', '/login' %>
      <%= link_to 'Register', '/users/new' %>
    <% end %>
    </div>
  </div>
</nav>


  <a href="javascript:void(0)" class="nav-close"><div id="left-side-close"></div></a>
